$primary_color: #ff9681 !default;
$secondry_color: #8f8d8e !default;
$background_color: #efefef !default;

* {
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}

body {
  background-color: $background_color;
  color: $secondry_color;
  z-index: -99;
}

#logo {
  color: $primary_color;
  font-weight: bold;
  font-size: 150%;
  p {
    display: inline-block;
    border-top: 1px solid $primary_color;
    border-bottom: 1px solid $primary_color;
  }
}

label {
  color: #333;
  font-size: 80%;
  font-weight: bold;
}

//for debug
input[type=text], input[type=textarea]{
  //background-color: #12ba4a;
  color: $primary_color;
  font-weight: bold;
}

select{
  //background-color: #1234ef;
}
