$primary_color: #ff9681 !default;
$secondry_color: #8f8d8e !default;
$background_color: #efefef !default;

header {
  width: 100%;
  text-align: center;
  padding: 10px 0 5px 0;
}

select {
  width: 100%;
  padding: 10px 0 10px 20px;
  border: 1px solid gray;
  color: gray
}

.textFieldWP {
  margin-top: 5px;
  padding: 1px 5px 1px 5px;
}

// フォーム全体のらっぱー
.inputFormWP {
  margin-top: 5px;
  padding: 10px 10px 0 10px;
  input[type=number] {
    width: 100%;
    padding: 10px 0 10px 20px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
  }
  input[type=text] {
    width: 100%;
    padding: 10px 0 10px 20px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
  }
}

.datePickerWP {
  padding: 5px 5px 5px 5px;
  .datePicker {

  }
}

@mixin radioBtn {
  margin-top: 5px;
  padding: 5px 0 5px 0;
  .buttonWP {
    display: table-cell;
    position: relative;
    z-index: 0;
    vertical-align: middle;
    width: 25%;
    height: 70px;
    border: 2px solid $background_color;
  }
  input[type=radio] {
    display: none;
  }
  label:before {
    content: "";
    display: inline-block;
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height:66px;
    background-color: $secondry_color;
  }
  label {
    display: inline-block;
    width: 100%;
    z-index: 1;
    margin: 0;
    padding: 0 5px 0 5px;
    color: white;
    font-size: 120%;
    text-align: center;
    vertical-align: middle;
    line-height: 1;
  }
  input[type=radio]:checked + label:before {
    background-color: $primary_color;
  }
}

.productSelectorWP {
  @include radioBtn;
}

.actionSelectorWP {
  @include radioBtn;
}

.textAreaWP {
  padding: 5px 5px 5px 5px;
  input[type=textarea] {
    width: 100%;
    padding: 10px 0 10px 20px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
  }
}

.basisSelector {
  width: 50%;
}

.addBasisBtn {
  width: 10%;
  margin: auto;
  color: $secondry_color;
  text-align: center;
  border: 1px solid $secondry_color;
}

.submitBtn {
  width: 70%;
  margin: 15px 0 5px 0;
  padding: 5px 0 5px 0;
  width: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 120%;
  background-color: $primary_color;
  border: 1px solid $primary_color;
  border-radius: 5px;
}

@mixin logList {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0 10px 0 10px;
  table {
    width: 100%;
  }
  tbody tr {
    border-top: 1px solid $secondry_color;
    border-bottom: 1px solid $secondry_color;
  }
}

.tradeList {
  @include logList;
  .tradeLogNode td:nth-child(1) {
    width: 15%;
    color: $secondry_color;
    text-align: center;
    padding: 15px 0 15px 0;
  }
  .tradeLogNode td:nth-child(2) {
    width: 11%;
    color: $secondry_color;
    text-align: center;
  }
  .tradeLogNode td:nth-child(3) {
    width: 40%;
    color: $secondry_color;
    padding-left: 5px;
  }
  .tradeLogNode td:nth-child(4) {
    width: 34%;
    color: $secondry_color;
    padding-left: 5px;
  }
}

.tradeSummaryList {
  @include logList;
  .tradeSummaryNode td:nth-child(1) {
    width: 30%;
    color: $secondry_color;
    padding: 10px 0 10px 5px;
  }
  .tradeSummaryNode td:nth-child(2) {
    width: 20%;
    color: $secondry_color;
    text-align: center;
  }
  .tradeSummaryNode td:nth-child(3) {
    width: 10%;
    color: $secondry_color;
    text-align: center;
  }
  .tradeSummaryNode td:nth-child(4) {
    width: 20%;
    color: $secondry_color;
    text-align: center;
  }
  .tradeSummaryNode td:nth-child(5) {
    width: 20%;
    color: $secondry_color;
    text-align: center;
  }
}
