$primary_color: #ff9681 !default;
$secondry_color: #8f8d8e !default;

header {
  width: 100%;
  text-align: center;
  padding: 10px 0 5px 0;
}

select {
  width: 100%;
  padding: 10px 0 10px 20px;
  border: 1px solid gray;
  color: gray
}

.textFieldWP {
  margin-top: 5px;
  padding: 1px 5px 1px 5px;
}

.inputFormWP {
  margin-top: 5px;
  padding: 10px 10px 0 10px;
  input[type=text] {
    width: 100%;
    padding: 10px 0 10px 20px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
  }
}

.datePickerWP {
  padding: 5px 5px 5px 5px;
  .datePicker {

  }
}

.productSelectorWP {
  margin-top: 5px;
  padding: 5px 0 5px 0;
  .productSelector {

  }
}

.actionSelectorWP {
  margin-top: 5px;
  padding: 5px 0 5px 0;
  .actionSelector {

  }
}

.textAreaWP {
  padding: 5px 0 5px 0;
  input[type=textarea] {
    width: 100%;
    padding: 10px 0 10px 20px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
  }
}

.basisSelector {
  width: 50%;
}

.addBasisBtn {
  width: 10%;
  margin: auto;
  color: $secondry_color;
  text-align: center;
  border: 1px solid $secondry_color;
}

.submitBtn {
  width: 70%;
  margin: 15px 0 5px 0;
  padding: 5px 0 5px 0;
  width: 100%;
  color: $primary_color;
  text-align: center;
  font-weight: bold;
  font-size: 120%;
  border: 1px solid $primary_color;
  border-radius: 5px;
}
